<div class="list">
  <h1>Listas de tareas de Juani</h1>
  <div class="newTask">
    <input type="text">
    <button>Add</button>
  </div>  
  <div class="task">
    <input type="checkbox" name="tarea1" id="" checked>
    <label for="tarea1">Manos a la obra 1</label>
    <img src="assets/images/delete.svg" alt="delete">
  </div>
  <div class="task">
    <input type="checkbox" name="tarea2" id="">
    <label for="tarea2">Manos a la obra 2</label>
    <img src="assets/images/delete.svg" alt="delete">
  </div>
  <div class="task">
    <input type="checkbox" name="tarea3" id="">
    <label for="tarea3">Manos a la obra 3</label>
    <img src="assets/images/delete.svg" alt="delete">
  </div>
</div>

